@font-face {
  font-family: Inter;
  src: url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;500&display=swap');
}

body {
  margin: 0;
  font-family: Inter, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at top, rgb(248, 205, 220) 0, white 100%) no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
